body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background-color: white;
  color: #212121;
  margin: 0;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 479px) {
  .container {
    overflow: auto;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.portfolio-header {
  border-bottom: 1px solid #ECECEC;
}

.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
    padding-top: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}
.logo__web {
  color: #2196F3;
}

.page-header {
  position: relative;
}

.header-nav__button .icon-cross {
  display: none;
}

.header-nav__button.is-open .icon-cross {
  display: block;
}

.header-nav__button.is-open .icon-menu {
  display: none;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .header-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-nav__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .header-nav__button {
    display: none;
  }
}

.header-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .header-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 48px 15px;
    display: none;
  }
  .header-menu.is-open {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .main-nav {
    margin-bottom: 302px;
  }
}
@media screen and (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.main-nav__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .main-nav__link {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .main-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
  .main-nav__link:hover {
    color: #2196F3;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__item + .main-nav__item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contacts-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}
@media screen and (min-width: 1200px) {
  .contacts-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts-nav__link:first-child {
  margin-bottom: 32px;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196F3;
}
.contacts-nav__link:first-child:hover {
  color: #2196F3;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts-nav__link:first-child {
    margin-bottom: 10px;
    font-size: 12px;
    color: #757575;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-nav__link:first-child {
    margin-right: 50px;
    margin-bottom: 0;
    font-size: 14px;
    color: #757575;
  }
}
.contacts-nav__link:last-child {
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.contacts-nav__link:last-child:hover {
  color: #2196F3;
}
@media screen and (max-width: 767px) {
  .contacts-nav__link:last-child {
    display: block;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .contacts-nav__link:last-child {
    font-size: 12px;
    color: #757575;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-nav__link:last-child {
    margin-bottom: 0;
    font-size: 14px;
    color: #757575;
  }
}
.contacts-nav__link:hover .contacts-nav__icon {
  fill: #2196F3;
}
.contacts-nav__icon {
  margin-right: 10px;
  fill: #757575;
}
@media screen and (max-width: 767px) {
  .contacts-nav__icon {
    display: none;
  }
}

.social-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .social-nav {
    display: none;
  }
}
.social-nav__link {
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196F3;
}
.social-nav__item:not(:first-child) {
  margin-left: 10px;
}
.social-nav__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.55)), to(rgba(47, 48, 58, 0.55))), url(/images/page-1/hero-img-480.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.55), rgba(47, 48, 58, 0.55)), url(/images/page-1/hero-img-480.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.55)), to(rgba(47, 48, 58, 0.55))), url(/images/page-1/hero-img-768.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.55), rgba(47, 48, 58, 0.55)), url(/images/page-1/hero-img-768.jpg);
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.55)), to(rgba(47, 48, 58, 0.55))), url(/images/page-1/hero-786-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.55), rgba(47, 48, 58, 0.55)), url(/images/page-1/hero-786-2x.jpg);
  }
}
@media screen and (min-width: 787px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.55)), to(rgba(47, 48, 58, 0.55))), url(/images/page-1/hero-img-1600.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.55), rgba(47, 48, 58, 0.55)), url(/images/page-1/hero-img-1600.jpg);
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 787px) and (min-device-pixel-ratio: 2), screen and (min-width: 787px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 787px) and (min-resolution: 192dpi), screen and (min-width: 787px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.55)), to(rgba(47, 48, 58, 0.55))), url(/images/page-1/hero-1600-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.55), rgba(47, 48, 58, 0.55)), url(/images/page-1/hero-1600-2x.jpg);
  }
}
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 94px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 40px;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 450px;
  }
}
.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #FFFFFF;
}
.modal__button:hover .modal__icon {
  fill: #2196F3;
}
.modal__icon {
  fill: #212121;
}
.modal__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form__field {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.modal-form__input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form__label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.modal-form__input:not(:-moz-placeholder-shown) + .modal-form__label {
  transform: translate(-25px, -42px);
}

.modal-form__input:not(:-ms-input-placeholder) + .modal-form__label {
  transform: translate(-25px, -42px);
}

.modal-form__field:focus-within .modal-form__label,
.modal-form__input:not(:placeholder-shown) + .modal-form__label {
  -webkit-transform: translate(-25px, -42px);
          transform: translate(-25px, -42px);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-form__field:focus-within .modal-form__input {
  border-color: #2196F3;
}

.modal-form__field:focus-within .modal-form__icon {
  fill: #2196F3;
}

.modal-form__field:focus-within .modal-form__label {
  color: #2196F3;
}

.textarea {
  margin-bottom: 20px;
  position: relative;
  display: block;
}
.textarea__input {
  padding: 12px 16px 12px 42px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.textarea__label {
  position: absolute;
  top: 16px;
  left: 42px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.textarea__input:not(:-moz-placeholder-shown) + .textarea__label {
  transform: translate(-25px, -37px);
}

.textarea__input:not(:-ms-input-placeholder) + .textarea__label {
  transform: translate(-25px, -37px);
}

.textarea:focus-within .textarea__label,
.textarea__input:not(:placeholder-shown) + .textarea__label {
  -webkit-transform: translate(-25px, -37px);
          transform: translate(-25px, -37px);
}

.textarea:focus-within .textarea__label {
  color: #2196F3;
}

.textarea:focus-within .textarea__input {
  border-color: #2196F3;
}

.check {
  margin-bottom: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.check__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.check__input:checked + .check__box {
  background-image: url(/images/form-icons/checkbox.svg);
}
.check__box {
  position: absolute;
  width: 16px;
  height: 15px;
  background-image: url(/images/form-icons/check.svg);
}
.check__label {
  margin-left: 24px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}
.check__policy {
  color: #2196F3;
}

.modal-form__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-form__button {
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    margin: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .adv-card {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
.adv-card__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .adv-card__title {
    text-align: center;
  }
}
.adv-card__text {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.adv-card__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #F5F4FA;
  border-radius: 4px;
}

.occupation {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .occupation {
    display: none;
  }
}
.occupation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.occupation__card {
  position: relative;
}
.occupation__img {
  display: block;
  max-width: 100%;
  height: 100%;
}
.occupation__text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
}

.section-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
}
@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-team__gallery {
    margin: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .section-team__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.team-member {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-member {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .team-member:not(:last-child) {
    margin-bottom: 30px;
  }
}
.team-member__image {
  display: block;
  max-width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .team-member__image {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team-member__image {
    width: 270px;
    height: 260px;
  }
}
.team-member__title {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-member__text {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.team-member__nav {
  padding-top: 16px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team-member__icon {
  fill: #757575;
  width: 20px;
  height: 20px;
}
.team-member__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-member__link:hover {
  background-color: #2196F3;
}
.team-member__link:hover .team-member__icon {
  fill: #FFFFFF;
}
.team-member__link:not(:last-child) {
  margin-right: 10px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__list {
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.clients__link {
  padding-top: 16px;
  padding-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients__logo {
  fill: #AFB1B8;
}

.clients__item {
  margin: 15px;
  width: calc((100% - 60px) / 2);
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}
.clients__item:hover {
  border-color: #2196F3;
}
.clients__item:hover .clients__logo {
  fill: #2196F3;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__container {
    padding-left: 76px;
    padding-right: 89px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.page-footer__logo {
  padding: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
.page-footer__icon {
  fill: white;
}
.page-footer__link {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-contacts {
    margin-bottom: 60px;
  }
}
.footer-contacts__text {
  margin-top: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.footer-contacts__link {
  margin-bottom: 8px;
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-nav {
    margin-left: auto;
  }
}
.footer-nav__title {
  margin-bottom: 4px;
  margin-top: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer-nav__title {
    margin-top: 7px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-form {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-form__label {
  margin-top: 44px;
  margin-bottom: 20px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer-form__label {
    margin-top: 7px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form__input {
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  display: block;
  width: 450px;
  color: white;
  border-radius: 4px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  caret-color: white;
}
@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 358px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    margin-right: 12px;
  }
}

.footer-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  padding: 12px 28px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .footer-form__button {
    margin-top: 20px;
  }
}

.footer-form__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 24px;
  height: 24px;
  background-image: url(/images/form-icons/telegram.svg);
}

.filter {
  padding-top: 60px;
  padding-bottom: 40px;
  border-top: 1px solid #ECECEC;
}
@media screen and (min-width: 1200px) {
  .filter {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .filter__nav {
    width: 630px;
    margin-left: auto;
    margin-right: auto;
  }
}
.filter__button {
  margin-bottom: 15px;
  padding: 6px 22px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  background-color: white;
  background: #F5F4FA;
  border-radius: 4px;
  cursor: pointer;
}
.filter__button:hover {
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.filter__button:not(:last-child) {
  margin-right: 8px;
}

.gallery {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
.gallery__item {
  border: 1px solid #EEEEEE;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    width: calc((100% - 90px) / 3);
  }
}
.gallery__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 767px) {
  .gallery__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.gallery__item:hover .gallery__descr {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.gallery__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.gallery__title {
  margin-top: 20px;
  margin-bottom: 4px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery__text {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 24px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
.gallery__thumb {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .gallery__thumb {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__thumb {
    width: 370px;
  }
}
.gallery__descr {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  margin: 0;
  padding: 77px 24px;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}
@media screen and (min-width: 768px) {
  .gallery__descr {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__descr {
    padding: 63px 24px;
  }
}/*# sourceMappingURL=main.css.map */